{% extends "admin/login.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Enter site' %} | {{ project_name }}
{% endblock %}
{% block extrahead %}<link rel="icon" href="/static/pictures/favicon.png" type="ico">{% endblock %}
{% block branding %}
    <h1 id="site-name">{% trans 'Enter site' %}</h1>
{% endblock %}
{% block breadcrumbs %}
    {% if form.non_field_errors %}
        <p class="errornote">{% trans 'Sorry, login or password is incorrect' %}</p>
    {% endif %}
{% endblock %}