<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}
<html>
<head>
    {% block headdata %}{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" href="{{ STATIC_URL }}favicon.png" type="ico">
    <title>{% block title %}{% endblock %} {{ project_name }}</title>
    <link href="{{ STATIC_URL }}base.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="pagestyle">
<table width="100%"><tr>
<td><img src="{{ STATIC_URL }}pic_rzd_logo.gif" alt=""><img src="{{ STATIC_URL }}pic_rzd_text.gif" alt=""></td>
<td align="right"><a href="/"><img src="{{ STATIC_URL }}header.png" alt="" border="0"></a></td>
</tr></table>
<table width="100%">
<tr>
<td>{% block profileinfo %}{% endblock %}</td>
<td align="right">{% trans 'User name' %}: <b>{% if user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</b>, <a href="/accounts/logout/">{% trans 'Logout' %}</a></td>
</tr>
</table>

<div class="mainblock">
{% block content %}{% endblock %}
<p style="font-size: 10pt; margin: 0px" align="right"><i>Легенда:</i> <span class="css_docmodified">документ изменён</span>, <span class="css_doccanceled">действие прекращено</span></p>
</div>
<h6 align="center"><a href="mailto:aurpkbcv@yandex.ru">ПКБ ЦВ ОАО "РЖД"</a>, {{ product_year }}</h6>
</div>
</body>
</html>
