{% if docs_page.paginator.num_pages > 1 %}
<p align="center" style="font-size: 10pt">
{% if docs_page.has_previous %}
    <a href="?page_num=1&{{ get_form_filter }}"><<</a>
    <a href="?page_num={{ docs_page.previous_page_number }}&{{ get_form_filter }}">Назад</a>
{% endif %}
    <span class="current">{{ docs_page.number }} из {{ docs_page.paginator.num_pages }}</span>
{% if docs_page.has_next %}
    <a href="?page_num={{ docs_page.next_page_number }}&{{ get_form_filter }}">Вперёд</a>
    <a href="?page_num={{ docs_page.paginator.num_pages }}&{{ get_form_filter }}">>></a>
{% endif %}
</p>
{% endif %}