{% extends "tpl_base.html" %}
{% block title %}Обзор документа {% if not access_error %}'{{ doc.document_number }}' {% endif %}|{% endblock %}
{% block profileinfo %}
<table cellspacing="4">
    <tr align="center">
        <td title="Доступ к документам не выше этого уровня"><i>Уровень доступа</i></td>
    </tr>
    <tr align="center">
        <td><b>{{ file_acc_lvl }}</b></td>
    </tr>
</table>
{% endblock %}
{% block content %}
{% if not access_error %}

<table cellpadding="4">
<tr>
    <td colspan="6"><i>Название:</i> <b>{{ doc.title }}</b></td>
</tr>
<tr>
    <td align="right"><i>Номер документа:</i></td><td>{{ doc.document_number }}</td>
    <td align="right"><i>Архивный номер:</i></td><td>{{ doc.archive_number }}</td>
    <td align="right"><i>Введён в действие:</i></td><td>{{ doc.date_start }}</td>
</tr>
<tr>
    <td align="right"><i>Число страниц:</i></td><td>{{ doc.page_cnt }}</td>
    <td align="right"><i>Формат бумаги:</i></td><td>{{ doc.get_paper_size_display }}</td>
    <td align="right"><i>Тип:</i></td><td>{{ doc.doc_type }}</td>
</tr>
<tr>
    <td align="right"><i>Разработчик:</i></td><td>{{ doc.developer }}</td>
    <td align="right"><i>Утверждён:</i></td><td colspan="2">{{ doc.approver }} ({{ doc.date_approved }})</td>
</tr>
<tr>
    <td align="right"><i>Узел вагона:</i></td><td>{{ doc.get_related_unit_display }}</td>
    <td align="right"><i>Подразделения:</i></td><td colspan="3">{% for div in doc.division.all %}{{ div }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
</tr>
<tr>
    <td align="right"><i>Добавлен в архив:</i></td><td>{{ doc.date_archived }}</td>
    <td align="right"><i>Состояние:</i></td>
    <td><span class="{% if doc.state == 2 %}css_doccanceled{% else %}{% if doc.state == 1 %}css_docmodified{% else %}css_docnormal{% endif %}{% endif %}">
        {{ doc.get_state_display }}
    </span></td>
    {% if doc.state > 0 %}{% if doc.canceled_by.document_number %}
    <td><div class="css_pressblock" style="margin: 0px" onclick = "window.location.href = '/document/{{ doc.canceled_by.id }}'">{{ doc.canceled_by.document_number }}</div></td>
    {% endif %}{% endif %}
</tr>
{% if doc.note %}<tr>
    <td align="right"><i>Примечание:</i></td><td colspan="5">{{ doc.note }}</td>
</tr>{% endif %}
</table>

{% if files %}
<br>
<div class="css_container"><i>Доступные файлы:</i>
    {% for file in files %}
    <div class="css_pressblock" onclick = "window.location.href = '/file/{{ file.1 }}'">
        {{ file.2 }}{% if file.0.description %} - <i>{{ file.0.description }}</i>{% endif %}
    </div>
    {% endfor %}
</div><br>
{% endif %}
{% else %}
<div class="css_nopressblock">
    <p align="center"><span style="color: #e8382a; font-weight: bold;">Ошибка доступа</span>: документ не существует или у вас не достаточно прав для его просмотра</p>
</div><br>
{% endif %}
{% if has_back_button %}
    <a href="javascript:history.back()" style="float: left; margin: 0px 4px"><< Назад</a>
{% endif %}
{% endblock %}
