<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
	<title>tstng btstrp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="damndev">
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
	<style type="text/css">
	body {}
	.brand {text-align: center;}
	</style>
</head>

<body class="container">

<!-- nav bar !-->
	<div class="row navbar navbar-inverse">
	<div class="navbar-inner">
	<div class="nav span7">
		<a class="brand" href="#">tinyBlog</a>
	</div>
	<ul class="span5 nav pull-right">
		<li class="active"><a href="#">Blog</a></li>
		<li><a href="#about">About</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
	</div>
 </div>

<!-- content !-->
{% for p in posts %}
	<div class="row">
		<div class="span12" style="background: #80AEAA">
		<h2>{{ p.name }} - {{ p.created|date:"D d M Y" }}</h2>
		<p>{{ p.description }}</p>
		</div>
	</div>
	{% for c in comments %}
		{% if c.post_id == p.id %}
		<div class="row">
			<div class="span12" style="background: #ACABAD">
			<p>
				{% for i in get_total_rounds_count(c.level) %}
					{{ c.level }}
				{% endfor %}
				{{ c.content }}
			</p>
			</div>
		</div>
		{% endif %}	
	{% endfor %}
{% endfor %}


<!-- footer !-->
<hr>
<footer>
	<p>&copy; tinyBlog4test 2013</p>
</footer>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>