h2 {
    font-family: Verdana;
    color: #b3281e;
    font-weight: bold;
    text-shadow: #500500 1px 1px 0px, #99221a 0 0 0.3em;
}
i {
    color: #505050;
    font-size: 11pt;
}
.mainblock {
    padding: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    background: #e6f1fa url(/static/background.png) repeat;
}
.pagestyle {
    max-width: 1024px;
    min-width: 1024px;
    margin-left:auto;
    margin-right:auto;
}
/*Press block*/
div.css_pressblock, div.css_nopressblock {
    border: 1px outset;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 8px;
    background-color: #cee1f1;
    background-color: rgba(206,225,241,0.6);
}
div.css_pressblock:hover {
    background-color: #85accc;
    background-color: rgba(133,172,204,0.7);
}
div.css_nopressblock {
    cursor: auto;
}
/*Press block*/
div.css_container {
    /*border: 1px inset;
    padding: 6px;
    background-color: #e6f1fa;
    background-color: rgba(230,241,250,0.4);
    border-radius: 4px;*/
    max-width: 800px;
}
.css_docnormal {
    color: #284b80;
}
.css_docmodified {
    color: #a35f1d;
}
.css_doccanceled {
    color: #9d3030;
    text-decoration: line-through;
}
.css_rot_legend, .css_rot_legend:hover {
    float: left;
    position:absolute;
    top:250px;
    left:-130px;
    transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    padding: 20px 8px 2px;
    background: #e6f1fa;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    text-align: center;
}
.css_rot_legend:hover {
    left:-80px;
}